<header class="bg-black  px-5 h-[85px]">
<div class="flex justify-between items-center md:justify-between text-white py-6 w-full">
  <h1 class="md:text-2xl font-semibold">Movie Galaxy</h1>
  <div class="flex space-x-2 md:space-x-3 items-center">
    <i class="fa-solid fa-magnifying-glass text-xl"></i>
    <input class="bg-black z-50 py-2 w-20 md:w-72" type="text" placeholder="Search everything">
  </div>
  <!-- <i class="md:hidden fa-solid fa-bars"></i> -->
  <div class=" md:block text-xl space-x-6 text-white">
    <i class="fa-solid fa-comment-dots"></i>
    <i class="fa-solid fa-bell"></i>
    <i class="fa-solid fa-user"></i>
  </div>
</div>
</header>
